
*.exe
*.Cache
PDFBookmarkParser/bin/Debug/itextsharp.dll
PDFBookmarkParser/bin/Debug/itextsharp.xml
PDFBookmarkParser/bin/Debug/PDFBookmarkParser.exe.config
PDFBookmarkParser/bin/Debug/PDFBookmarkParser.pdb
PDFBookmarkParser/bin/Debug/PDFBookmarkParser.vshost.exe.config
PDFBookmarkParser/bin/Debug/PDFBookmarkParser.vshost.exe.manifest
PDFBookmarkParser/bin/Debug/PDFBookmarkReader.exe.config
PDFBookmarkParser/bin/Debug/PDFBookmarkReader.pdb
PDFBookmarkParser/bin/Debug/PDFBookmarkReader.vshost.exe.config
PDFBookmarkParser/bin/Debug/PDFBookmarkReader.vshost.exe.manifest
PDFBookmarkParser/obj/Debug/PDFBookmarkParser.csproj.FileListAbsolute.txt
PDFBookmarkParser/obj/Debug/PDFBookmarkParser.Form1.resources
PDFBookmarkParser/obj/Debug/PDFBookmarkParser.pdb
PDFBookmarkParser/obj/Debug/PDFBookmarkParser.Properties.Resources.resources
PDFBookmarkParser/obj/Debug/PDFBookmarkReader.csproj.FileListAbsolute.txt
PDFBookmarkParser/obj/Debug/PDFBookmarkReader.pdb
PDFBookmarkParser/obj/Debug/PDFBookmarkReader.Properties.Resources.resources
PDFBookmarkParser/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PDFBookmarkParser/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PDFBookmarkParser/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
